header {
    background-color: white;
}

.header_btns__body {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header_btns__body > * {
    margin-left: 20px;
}

.header_menu {
    position: relative;
    background-color: var(--color-turquoise-light);
}
.header_menu::after,
.header_menu::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header_menu::before {
    z-index: 2;
    background-color: var(--color-turquoise-light);
}

.header_menu::after {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
}

.header_menu__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.header_menu__burger {
    display: none;
}

.header_menu__logo {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header_menu__list ul {
    display: flex;
}

.header_menu__list li {
    list-style: none;
    margin-left: 20px;
}

.header_menu__link {
    color: black;
}

@media (max-width: 767px) {
    .header_menu__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_menu__burger span,
    .header_menu__burger:after,
    .header_menu__burger:before {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_menu__burger:before {
        top: 0;
    }
    .header_menu__burger span {
        top: 9px;
    }
    .header_menu__burger:after {
        bottom: 0;
    }

    .header_menu.active::after {
        height: 100vh;
        z-index: 2;
    }

    .header_menu__list {
        position: absolute;
        top: 100%;
        left: -100%;
        transition: all 0.3s ease 0s;
    }

    .header_menu__list.active {
        left: 0;
    }

    .header_menu__list ul {
        display: block;
        padding: 0;
    }

    .header_menu__list li {
        margin-top: 20px;
    }

    .header_menu__logo {
        font-size: smaller;
    }

    .header_menu__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_menu__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu__burger.active span {
        transform: scale(0);
    }
}
