.input_item {
    display: flex;
    align-items: end;
}
.input_item > span {
    display: inline-block;
    font-size: small;
    padding-left: 3px;
}

.input_radio__container {
    width: 80%;
    display: flex;
}

.input_radio__container input {
    display: none;
}

.input_radio__container > div {
    flex-grow: 1;
    display: table;
}

.input_radio__container label {
    display: table-cell;
    text-align: center;
    background-color: aqua;
    vertical-align: middle;
    border-right: 2px solid var(--color-grey-light);
}

.input_radio__container div:first-child label {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.input_radio__container div:last-child label {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border-right: none;
}

.input_radio__container > div:has(input[type='radio']:checked) label {
    background: var(--color-orange-light);
}
