.input_item {
    display: flex;
    flex-direction: column-reverse;
}

.input_radio__body {
    display: flex;
    flex-direction: column;
}

.input_radio__container {
    width: 80%;
    display: flex;
}

.input_radio__container input {
    display: none;
}

.input_radio__container > .input_item {
    flex-grow: 1;
    display: table;
}

.input_radio__container label {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-right: 2px solid var(--color-grey-light);
}

.input_radio__container .input_item:first-child label {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.input_radio__container .input_item:last-child label {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border-right: none;
}

.input_radio__container input[type='radio']:checked + label {
    background: var(--color-orange-light);
}
