.button {
    cursor: pointer;
    width: 100%;
}

.button > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button.base {
    background-color: var(--color-grey-dark);
    text-transform: uppercase;
    color: white;
}

.button.main {
    background-color: var(--color-blue-light);
    text-transform: uppercase;
    color: white;
}

.button.extra {
    width: auto;
    height: 2em;
    padding: 5px 10px;
    font-size: smaller;
}

.button.extra:hover {
    color: var(--color-blue-dark);
}

.button.img {
    border: none;
    background: none;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

.button > * {
    text-decoration: inherit;
    color: inherit;
}
