@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

:root {
    --color-blue-dark: #1e4c9c;
    --color-blue-light: #1265ce;

    --color-turquoise-dark: #219ebc;
    --color-turquoise-medium: #28d9d9;
    --color-turquoise-light: #dff9f9;

    --color-grey-dark: #989ca9;
    --color-grey-light: #e3e7ef;

    --color-orange-dark: #fb8500;
    --color-orange-medium: #ffb703;
    --color-orange-light: #fff3b0;
}

body {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
